<div class="card">
  <div class="card-body">
  <% if current_user.schedules.length > 0 %>
      <% current_user.schedules.each_with_index do |s, i|  %>
      <h5 class="card-title"><%= s.habit.name %></h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Scheduled Time:</th>
              <th scope="col">How Often:</th>
              <th scope="col">Start Date:</th>
              <th scope="col">End Date:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%= s.time %></td>
              <td><%= s.frequency %></td>
              <td><% s.start_date%></td>
              <td><%= s.end_date%></td>
              <td><%= button_to "Edit", edit_schedule_path(s), method: :get %></td>
              <td><%= button_to "Delete", s, method: :delete %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      <% else %>
    <% end %>
  <%= link_to 'Schedule a New Habit', new_schedule_path, :class => "btn btn-primary" %>
  </div>
</div>
