<h2>New Schedule</h2>
<%= form_for @schedule do |f| %>
  <%= f.label "Select a Habit" %>
  <%= f.collection_select(:habit_id, Habit.all, :id, :name)%>
    <br>
  <div>
    <h5>Schedule your habit!</h5>
      <%= f.label :time %>
      <%= f.time_field (:time) %>
      <br>
      <%= f.label :frequency %>
      <%= f.text_field (:frequency) %>
      <br>
      <%= f.label :start_date %>
      <%= date_field(:schedule, :start_date) %>
      <br>
      <%= f.label :end_date %>
      <%= date_field(:schedule, :end_date) %>
      <br>
      <%= f.submit %>
      <% end %>
</div>
