<table class="table">
  <thead>
    <tr>
      <th scope="col">Habit</th>
      <th scope="col">Scheduled Time:</th>
      <th scope="col">How Often:</th>
      <th scope="col">Start Date:</th>
      <th scope="col">End Date:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @schedule.habit.name %></th>
      <td><%= @schedule.time %></td>
      <td><%= @schedule.frequency %></td>
      <td><%= @schedule.start_date %></td>
      <td><%= @schedule.end_date %></td>
      <td><%= button_to "Edit Scheduled Habit", edit_schedule_path(@schedule.id), method: :get %>
        <%= button_to "Delete Habit", @schedule, method: :delete %>
      </td>
    </tr>
  </tbody>
</table>
